* {
    margin: 0;
    padding: 0;
}

#nav1 {
    background-color: red !important;
}

body {
    background-color: #f0f0f0;
}

.dropdown {
    position: relative;
    display: inline-block;
}


/*sub-menu*/

#navbarDropdown {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
    list-style: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navbarDropdown:hover {
    color: black;
}

li:hover {
    background-color: white;
}

.logo {
    padding-right: 50px;
}

.dropdown-content a:hover {
    color: red;
}

.form-inline {
    padding-left: 5px;
}

.container_padding {
    margin-top: 20px;
}

ul .sub-nav {
    text-decoration: none;
}

.card-body a {
    text-decoration: none;
}

.card:hover {
    width: 180px;
    background-size: cover;
    -webkit-box-shadow: 1px 1px 10px #ee4d2d;
    box-shadow: 1px 1px 10px #ee4d2d;
    border: 1px solid #ee4d2d;
    float: left;
    background-color: #faa392;
}

#a2 {
    text-decoration: line-through;
    color: #cacaca;
    font-size: 14px;
}

.load-more {
    width: 30%;
    color: #fff;
    border: 0px;
    background: #ff0000;
    margin-left: 35%;
    margin-top: 20px;
}

.load-more a {
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    padding-left: 150px;
    color: #f5f5f5;
}

.load-more a:hover {
    color: black;
}

.ftitle {
    font-size: 16px;
}

#f1 {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#f1 a {
    text-decoration: none;
    color: black;
}

.finfo {
    width: 100%;
    background-color: rgb(228, 231, 231);
}

.finfo p {
    font-size: 12px;
    line-height: 1.8;
    padding-left: 330px;
}

#form-thanhtoan {
    background-color: #e4e3e3;
    margin-left: 300px;
}

.input-item {
    margin-top: 10px;
}

.input-item input {
    width: 97%;
}

#form-thanhtoan button {
    background-color: #ff0000;
    width: 200px;
    margin-left: 150px;
}

#link {
    margin-left: 300px;
}

.card-img-top {
    margin-top: 15px;
}