.header{
    background-color: #FF7F50;
    color:black;
    height: 100px;
    width: 90%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    border: 5px solid	#98FB98;
    
}
.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.menu a:hover {
    background-color: #db7093;
    color: white;
    font-weight: bold
  }
  .menu {
    overflow: hidden;
    background-color: #333;
    width: 95.5%;
    border-radius: 10px;
  }