.dropdown{
    position: relative;
    /* display: inline-block; */
    
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
    /* border-bottom: 1px dotted white; */
}
.dropdown:hover .dropdown-content{
    display: block;
 }
 .dropdown-content :hover{
     background-color :tomato;
 }
/* .dropdown-content li a{
    border-bottom: 1px dotted white;
} */
.nav > li:hover{
    background-color:yellowgreen ;
}