body{
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
    background-image: url(../img/unnamed.jpg);
    background-position: 100%;
    background-attachment: fixed;
}
#menutop{
    background-color: aquamarine;
    height: 40px;
    font-weight: bold;
}
#menutop :hover{
    background-color: palevioletred;
}
#banner{
    
    height: auto;
    width: 1000px;

}
#main #left{
    width:700px ;
    float: left;
    min-height: 400px;
}

#footer{
    background-color: darkgreen;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: yellow;
    clear:left;
    line-height: 60px;

}
#menutop ul{
    margin: 0px ;
    padding: 0px;

}
#menutop ul li{
    list-style: none;
    float: left;
    
}
#menutop ul li a{
    color: yellowgreen;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px 0px 20px;
    border-right:1px solid #ccc;
}
#nemutop ul li a.active{
    background-color: #000;

}
#banner img {
    width: 1000px;
}
#main {
    margin-top: 20px;
}
#main #left ul{
    padding: 0px;
    margin: 0px;
}
#main #left ul li {
    list-style: none;
    border-bottom: solid 1px #000;
    float: left;
    margin-bottom: 30px;
}
#main #left ul li img {
    float: left;
    margin-top: 30px;
}
#main #left ul li h2{
    font-size: 15px;
}
.form_name #txtname{
  width: 210px;
  height: 34px;

}
.form_name .icons{
border: 1px solid black;
padding: 8px;
margin-top: -50px;
margin: 0px 100px 0px 0px;

}
/* #main #right .menuright ul {
    margin: -15px 0px 0px 0px;
    padding: 0px;
    border: 1px rgb(7, 0, 0) solid;
}
#main #right .menuright ul li{
    list-style: none;
   
} */
/* #main #right .menuright h3{
    color: darkblue;
    background-color: darkgray;
    height: 40px;
    margin-top: 0px;
    font-size: 15px;
    text-align: center; */
  /* .mot li a{
      border: 1px solid black;
      padding: 14px 120px;
      text-align: center;
      margin-right: -10px;
      margin-top: 0px;
  }   */


  .menuright {
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-size: 15px;
    color: orange;
    margin-left: 748px;
    border: 1px solid black;  
    margin-top: -20px;
    padding: 0px;
 } 
.menuright ul li {
    list-style-type: none;
}

/* .menuright :hover{
    background-color: coral;
} */
 .menuright.mot {
    background-color: coral;
    padding: 14px 16px;
}
#dmuc h3{
    text-align: center;
    color: darkblue;
    background-color: darkgray;
     border: 1px solid black;
    font-size: 20px;
     width: 250px;
     height: 30px;
     margin-left: 748px;
     padding-top: 14px;
}
