h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90px;
    font-weight: 900px;
    margin: 0 auto;
    color: red;
}

p {
    font-family: cursive;
    font-weight: 900px;
    font-size: 20px;
    margin-top: -80px;
    margin-left: 150px;
    color: white;
}
#bgclor{
    background:#61B000;
    width: 100%;
    height: 100px;

}
body{
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
    /* background-image: url(../image/vforum.vn-39827-strawberry-wallpaper-yeah1-lc4.jpg); */
    background-color: #61B000;
    background-position: 100%;
    background-attachment: fixed;
}
#menutop{
    background-color:gold;
    height: 40px;

}
/* li{
    width: 150px;
} */
ul{
    margin: 0 ;
    padding: 0;
    /* padding-top: 13px; */
    list-style: none;
    
}
#menutop ul{
    list-style: none;
    /* height: 40px; */

}

#menutop > ul > li{
    display: inline-block;
     border-right: 1px solid #dddddd;
    position: relative;
}
#menutop > ul > li > ul {
    display: none;
    position: absolute;
    top: 29px;
}
#menutop > ul > li > ul li{
    padding: 10px 0px;
    border-bottom: 1px solid #dddddd;
    
    
}
 ul li:last-child{
     border-right: none;/* clear border cho thẻ li cuối cùng */
     border: none;
} 
#menutop ul li:hover ul{
    display: block;
}

#trapezium {
    height: 0;
    width: 250px;
    border-bottom: 50px solid gold;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    font-weight: 500;
    font-size: 15px;
    padding: 5px;
    font-family :monospace;

}

#main #left{
    width:700px ;
    float: left;
    min-height: 400px;
}
#main #right{
    width:300px ;
    float: left;
    min-height: 400px;
}
#footer{
    background-color: darkgreen;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: yellow;
    clear:left;
    line-height: 60px;

}
li{
    width: 140px;
    
}

#menutop ul li{
    list-style: none;
    float: left;
    
}
#menutop ul li a{
    color :black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px 0px 20px;
    border-right:1px solid #ccc;
}
/* #menutop ul li a{
    background-color: #000;

} */
#menutop :hover{
    background-color :#c96639;
}
#banner{
    
    height: auto;
    width: 1000px;

}
#banner img {
    width: 1000px;
}
#main {
    margin-top: 20px;
}
#main #left ul{
    padding: 0px;
    margin: 0px;
}
#main #left ul li {
    list-style: none;
    border-bottom: solid 1px #000;
    float: left;
    margin-bottom: 30px;
}
#main #left ul li img {
    float: left;
    margin-top: 30px;
}
#main #left ul li h2{
    font-size: 15px;
}
#main #right .menuright ul {
    margin: -15px 0px 0px 0px;
    padding: 0px;
    border: 1px darkgray solid;
}
#main #right .menuright ul li{
    list-style: none;
   
}
#main #right .menuright h3{
    color: darkblue;
    background-color: darkgray;
    height: 40px;
    margin-top: 0px;
    font-size: 15px;
    text-align: center;
    

}
#main #right .menuright ul li a{
    display: block;
    border-bottom: 2px solid moccasin;
    line-height: 45px;
    text-decoration: none;
    height: 40px;
    text-indent: 15px;
    font-size: 14px;
    color: orange;
    
}



